body{
    background-color: pink;
    background-image: url("/assets/sample2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.topnav{
    font-size: 35px;
    border: 2px solid red;
    padding: 20px;
}
a:hover{
    color: red;
}
.active{
    color: blue;
}
 form{
    /* display: block; */
    width: 200px;
    /* border: 2px solid red; */
    margin-top: 50px;
    padding-bottom: 10px;
    font-size: 25px;
    
} 
form label{
    display:block;
    margin-bottom: 5px;
    margin-top: 5px;
}
.container{
    display: flex;
    justify-content: center;
}
